<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="referrer" content="always">
    <link rel="canonical" href="{{.CanonicalURL}}" /> {{if .Article.Description}}
    <meta name="description" content="{{.Article.Description}}"> {{end}}


    <title>{{.PageTitle}}</title>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>
        
        window.onload = function(){
            alert("load done");
            $("notion-text").children("span").css("text-align","left");
        };
       
    </script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <meta name="google-site-verification" content="_xvCJbyUYkZ7uQWVhQEBCtzTPsn8PLoGK81xQtg35TU" />
    
    <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML' async></script>
    <link href="/css/main.css" rel="stylesheet">
    <link href="/css/bootstrap.css" rel="stylesheet">  
    
    
    
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">5:40 AM</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor02">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="/changelog.html">change log</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="/contactme.html">Contact Me</a>
                    </li>
                </ul>
            </div>
    </nav>
    <div id="content">

        <div id="post" style="margin-left:1em;margin-right:1em;margin-top:1em;">
            <div class="title">
                <a href="/">Home</a> / {{range .Article.Paths}}
                <a href="{{.URL}}">{{.Name}}</a> / {{end}} {{.Article.Title}}
            </div>

            {{if .Article.HeaderImageURL}}
            <div class="article-header hide-mobile">
                <center>
                    <img class="hdr-image hide-mobile" src="{{.Article.HeaderImageURL}}">
                </center>
            </div>
            {{end}}

            <div>
                {{.Article.HTMLBody}}
            </div>

            
       
        </div>

    </div>

    {{ template "analytics.tmpl.html" . }}
    
    

</body>

</html>
