<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="referrer" content="always">
  <meta name="robots" content="noindex">
  
   <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.2/css/bootstrap.min.css">
  
  <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/lux/bootstrap.min.css" rel="stylesheet" integrity="sha384-hVpXlpdRmJ+uXGwD5W6HZMnR9ENcKVRn855pPbuI/mwPIEKAuKgTKgGksVGmlAvt" crossorigin="anonymous">

  <title>Recently changed</title>
  <style>
    #arc {
      border-collapse: collapse;
      margin-top: 12px;
    }

    #arc th {
      padding: 0 1.75em 0 0;
      vertical-align: baseline;
      text-align: right;
    }

    .day {
      font-size: 85%;
      color: lightgray;
      padding-right: 8px;
      white-space: nowrap;
      vertical-align: top;
    }

    .path {
      font-size: 85%;
      color: lightgray;
      margin-left: 12px;
    }

  </style>

</head>

<body>
  
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">5:40 AM</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="./mainpage.html">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="./changelog.html">change log</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="./contactme.html">Contact Me</a>
      </li>
    </ul>
  </div>
</nav>
  
  <div id="content" style="clear:both;line-height:1.50; margin-top: 18px; margin-left: 18pt; margin-right: 18pt;">
    <table id="arc">
      <tbody>
        {{range .Articles}}
        <tr>
          <td class="day">{{.UpdatedAgeStr}}</td>
          <td><a href="{{.URL}}">{{.Title}}</a> <span class="path">{{.PathAsText}}</span> </td>
        </tr>
        {{end}}
      </tbody>
    </table>
  </div>
  <p style="clear:both"></p>
  <hr>
  <center><a href="/"> 5:40 AM</a></center>
  <br>
  {{template "analytics.tmpl.html" .}}

</body>

</html>
