<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="referrer" content="always" />
  <meta name="description" content="Personal page of sjs2109. Programmer" />

  <title>Krzysztof Kowalczyk</title>
  <link href="/css/main.css" rel="stylesheet" />
</head>

<body>
 
  <div id="content" style="clear:both; ">
   {{ template "page_navbar.tmpl.html" . }}
  </div>
  {{ template "analytics.tmpl.html" . }}

  <script>
    
  </script>
</body>

</html>
