<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="referrer" content="always" />
  
  <title>sjs2109's blog</title>
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
</head>

<body>
  {{ template "page_navbar.tmpl.html" . }}
        <div style="margin-top: -3em">
          {{.WebsiteHTML}}
        </div>
  {{ template "analytics.tmpl.html" . }}
</body>

</html>
